.navigation {
    margin-bottom: 40px;
    border: 1px solid #000;
    padding: 20px;
}

.navigation .active {
    color: #ff0000;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs ul li {
    position: relative;
    display: inline-block;
}

.breadcrumbs ul li:last-child {
    margin-right: 0;
}

.breadcrumbs ul li::after {
    position: relative;
    display: inline-block;
    content: '-';
    margin: 0 5px;
    color: #808080;
}

.breadcrumbs ul li:last-child:after {
    content: '';
}
