@using Structr.Samples.Email.Models
@model BarEmail

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome</title>
</head>
<body>
    <p style="margin:0;">
        @Model.Message
    </p>
</body>
</html>